n8n/applaud-transcript-email.json
{
  "name": "Applaud — Summarize transcript & email",
  "nodes": [
    {
      "parameters": {
        "content": "## Applaud → Claude → Email\n\nThis flow receives Applaud webhook events, filters for `transcript_ready`, summarizes the transcript with Claude, and emails the result.\n\n**Before running:**\n1. Open the **Config** node and edit the values (recipient, sender, model, subject prefix).\n2. (Optional) Paste your Applaud webhook signing secret into `webhook_secret` in the Config node to enable HMAC-SHA256 verification.\n3. Assign an **Anthropic API** credential to the *Summarize with Claude* node.\n4. Assign an **SMTP** credential to the *Email Summary* node.\n5. Activate the workflow and copy the webhook URL into Applaud's Settings → Webhook.",
        "height": 340,
        "width": 420
      },
      "id": "579202dd-15e0-43f4-99a5-d42cc59fa39e",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        272
      ]
    },
    {
      "parameters": {
        "content": "### Edit me ⬆️\n\nAll user-editable variables live in this one **Config** node. Downstream nodes read from it — you don't need to open every node to change the recipient, sender, model, or subject.\n\nSet `webhook_secret` to the same value you configured in Applaud Settings to reject forged POSTs. Leave empty to skip verification.",
        "height": 240,
        "width": 280
      },
      "id": "3c835fe1-741f-4f07-aff8-5f6261e9f14d",
      "name": "Edit me",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        528
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "applaud",
        "options": {
          "rawBody": true
        }
      },
      "id": "461deda0-ece9-4ddc-ad20-9cfe6d8a2b2e",
      "name": "Applaud Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        368
      ],
      "webhookId": "8a7b6c5d-1234-5678-90ab-cdef12345678"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "recipient_email",
              "value": "you@example.com",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "from_email",
              "value": "applaud@example.com",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "subject_prefix",
              "value": "[Applaud]",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "claude_model",
              "value": "claude-sonnet-4-6",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "max_summary_tokens",
              "value": 4096,
              "type": "number"
            },
            {
              "id": "cfg-6",
              "name": "summarize_prompt",
              "value": "Summarize the following meeting/voice-memo transcript in 3–5 concise bullet points, then end with a one-sentence takeaway. Use markdown.",
              "type": "string"
            },
            {
              "id": "cfg-7",
              "name": "webhook_secret",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b9e5531c-4f89-4229-97f8-2e94d06b2bdf",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pure-JS HMAC-SHA256. n8n's task-runner sandbox disallows require('crypto') AND\n// does not expose globalThis.crypto, so we implement it from scratch.\n\nfunction rotr(x, n) { return ((x >>> n) | (x << (32 - n))) >>> 0; }\n\nconst SHA256_K = new Uint32Array([\n  0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n  0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n  0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n  0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n  0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n  0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n  0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n  0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2,\n]);\n\nfunction sha256(bytes) {\n  const bitLen = bytes.length * 8;\n  const padLen = ((bytes.length + 9 + 63) >> 6) << 6;\n  const buf = new Uint8Array(padLen);\n  buf.set(bytes);\n  buf[bytes.length] = 0x80;\n  const dv = new DataView(buf.buffer);\n  dv.setUint32(padLen - 8, Math.floor(bitLen / 0x100000000));\n  dv.setUint32(padLen - 4, bitLen >>> 0);\n\n  let h0 = 0x6a09e667, h1 = 0xbb67ae85, h2 = 0x3c6ef372, h3 = 0xa54ff53a;\n  let h4 = 0x510e527f, h5 = 0x9b05688c, h6 = 0x1f83d9ab, h7 = 0x5be0cd19;\n  const w = new Uint32Array(64);\n\n  for (let off = 0; off < padLen; off += 64) {\n    for (let i = 0; i < 16; i++) w[i] = dv.getUint32(off + i * 4);\n    for (let i = 16; i < 64; i++) {\n      const s0 = rotr(w[i - 15], 7) ^ rotr(w[i - 15], 18) ^ (w[i - 15] >>> 3);\n      const s1 = rotr(w[i - 2], 17) ^ rotr(w[i - 2], 19) ^ (w[i - 2] >>> 10);\n      w[i] = (w[i - 16] + s0 + w[i - 7] + s1) >>> 0;\n    }\n    let a = h0, b = h1, c = h2, d = h3, e = h4, f = h5, g = h6, h = h7;\n    for (let i = 0; i < 64; i++) {\n      const S1 = rotr(e, 6) ^ rotr(e, 11) ^ rotr(e, 25);\n      const ch = (e & f) ^ (~e & g);\n      const t1 = (h + S1 + ch + SHA256_K[i] + w[i]) >>> 0;\n      const S0 = rotr(a, 2) ^ rotr(a, 13) ^ rotr(a, 22);\n      const maj = (a & b) ^ (a & c) ^ (b & c);\n      const t2 = (S0 + maj) >>> 0;\n      h = g; g = f; f = e; e = (d + t1) >>> 0; d = c; c = b; b = a; a = (t1 + t2) >>> 0;\n    }\n    h0 = (h0 + a) >>> 0; h1 = (h1 + b) >>> 0; h2 = (h2 + c) >>> 0; h3 = (h3 + d) >>> 0;\n    h4 = (h4 + e) >>> 0; h5 = (h5 + f) >>> 0; h6 = (h6 + g) >>> 0; h7 = (h7 + h) >>> 0;\n  }\n\n  const out = new Uint8Array(32);\n  const odv = new DataView(out.buffer);\n  odv.setUint32(0, h0); odv.setUint32(4, h1); odv.setUint32(8, h2); odv.setUint32(12, h3);\n  odv.setUint32(16, h4); odv.setUint32(20, h5); odv.setUint32(24, h6); odv.setUint32(28, h7);\n  return out;\n}\n\nfunction concatBytes(a, b) {\n  const out = new Uint8Array(a.length + b.length);\n  out.set(a); out.set(b, a.length);\n  return out;\n}\n\nfunction hmacSha256(keyBytes, msgBytes) {\n  if (keyBytes.length > 64) keyBytes = sha256(keyBytes);\n  const k = new Uint8Array(64);\n  k.set(keyBytes);\n  const ipad = new Uint8Array(64);\n  const opad = new Uint8Array(64);\n  for (let i = 0; i < 64; i++) { ipad[i] = k[i] ^ 0x36; opad[i] = k[i] ^ 0x5c; }\n  return sha256(concatBytes(opad, sha256(concatBytes(ipad, msgBytes))));\n}\n\nfunction toHex(bytes) {\n  let out = '';\n  for (let i = 0; i < bytes.length; i++) out += bytes[i].toString(16).padStart(2, '0');\n  return out;\n}\n\nfunction timingSafeStringEq(a, b) {\n  if (a.length !== b.length) return false;\n  let diff = 0;\n  for (let i = 0; i < a.length; i++) diff |= a.charCodeAt(i) ^ b.charCodeAt(i);\n  return diff === 0;\n}\n\nconst enc = new TextEncoder();\n\nfunction base64ToBytes(b64) {\n  if (typeof atob === 'function') {\n    const bin = atob(b64);\n    const arr = new Uint8Array(bin.length);\n    for (let i = 0; i < bin.length; i++) arr[i] = bin.charCodeAt(i);\n    return arr;\n  }\n  if (typeof Buffer !== 'undefined') return new Uint8Array(Buffer.from(b64, 'base64'));\n  throw new Error('no base64 decoder available');\n}\n\nfunction bodyToBytes(body) {\n  if (body instanceof Uint8Array) return body;\n  if (body && typeof body === 'object' && body.type === 'Buffer' && Array.isArray(body.data)) return new Uint8Array(body.data);\n  if (typeof body === 'string') return enc.encode(body);\n  return null;\n}\n\n// --- main ---\n\nconst configItem = $('Config').first();\nconst secret = String((configItem && configItem.json && configItem.json.webhook_secret) || '');\n\nconst webhookItem = $('Applaud Webhook').first();\nconst headers = (webhookItem && webhookItem.json && webhookItem.json.headers) || {};\nconst header = headers['x-applaud-signature'] || '';\n\nif (!secret && !header) return $input.all();\nif (!secret && header) throw new Error('HMAC verification failed: Applaud sent a signature but webhook_secret is empty in the Config node');\nif (secret && !header) throw new Error('HMAC verification failed: webhook_secret is set but X-Applaud-Signature header is missing (check Applaud Settings)');\n\nlet rawBytes = null;\nif (webhookItem.binary && webhookItem.binary.data && webhookItem.binary.data.data) {\n  rawBytes = base64ToBytes(webhookItem.binary.data.data);\n} else {\n  rawBytes = bodyToBytes(webhookItem.json.body);\n}\nif (!rawBytes) throw new Error('HMAC verification: raw body not available — ensure the Applaud Webhook node has the rawBody option enabled');\n\nconst expected = 'sha256=' + toHex(hmacSha256(enc.encode(secret), rawBytes));\nif (!timingSafeStringEq(header, expected)) {\n  throw new Error('HMAC verification failed: signature mismatch');\n}\n\nconst parsed = (() => { try { return JSON.parse(new TextDecoder().decode(rawBytes)); } catch { return null; } })();\n\nconst items = $input.all();\nfor (const item of items) if (parsed !== null) item.json.body = parsed;\nreturn items;\n"
      },
      "id": "f3a91b74-5c8e-4d12-a9f0-6b2c73e5d811",
      "name": "Verify signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "transcript_ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-2",
              "leftValue": "={{ $json.body.content?.transcript_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1a11376-5957-483c-b467-297480c332c3",
      "name": "Is Transcript Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.claude_model, max_tokens: $json.max_summary_tokens, messages: [{ role: 'user', content: $json.summarize_prompt + \"\\n\\n---\\n\\n\" + $json.body.content.transcript_text }] }) }}",
        "options": {}
      },
      "id": "4cccfca8-aeca-40a4-a36c-551c3c84f8c1",
      "name": "Summarize with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        288
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').item.json.from_email }}",
        "toEmail": "={{ $('Config').item.json.recipient_email }}",
        "subject": "={{ $('Config').item.json.subject_prefix }} {{ $('Applaud Webhook').item.json.body.recording.filename }}",
        "emailFormat": "text",
        "text": "={{ $json.content[0].text }}\n\n---\nRecording: {{ $('Applaud Webhook').item.json.body.recording.filename }}\nDuration (ms): {{ $('Applaud Webhook').item.json.body.recording.duration_ms }}\nAudio: {{ $('Applaud Webhook').item.json.body.http_urls.audio }}\nTranscript: {{ $('Applaud Webhook').item.json.body.http_urls.transcript }}\nSummary: {{ $('Applaud Webhook').item.json.body.http_urls.summary }}",
        "options": {}
      },
      "id": "b5f18508-a7ec-45dd-a907-27dcf238d753",
      "name": "Email Summary",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1328,
        288
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Applaud Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Verify signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify signature": {
      "main": [
        [
          {
            "node": "Is Transcript Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Transcript Ready?": {
      "main": [
        [
          {
            "node": "Summarize with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with Claude": {
      "main": [
        [
          {
            "node": "Email Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
